// COLORS
$primary-color: #03aef7;
$secondary-color: #000000;
$third_color: #ffffff;

$white-color: #fff;
$grey-color: #F7F8FA;
$dark-grey: #333333;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
